@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0 50px;
}

/*Most Recent Ideas Css*/
.yic_main { font-size:14px;}
.yic_recent_ideas{ background-color: #fff;}
.yic_main h2{background: #3c3c3c; margin: 0; padding: 20px;color: #fff;}
.yic_main h3{ font-size:24px; margin:20px 0 10px; font-weight:600;}
.yic_main .panel-heading h3{ margin:0;}
.yic_main h5{font-size: 13px; margin: 20px 0 10px; font-weight: 600; text-transform: none; letter-spacing: 0;}
.yic_wrap{ padding: 30px; }
.yic_bulb{ background: url(../images/bulb.png); width: 80px; height: 114px; text-align: center; line-height: 84px;
    font-weight: 600; font-size: 20px; margin: 15px auto;}
.yic_grn{ color: #00b7c5; }
.yic_idea_details{ margin: 15px 0; }
.active_txt{ color: #333; }
/*Most Recent Ideas Css*/

/*Create Details Css*/
.up_arrow{ position: absolute;
right: 15px;
top: 0;
font-size: 25px;
width: 30px;
height: 17px;
line-height: 17px;
padding: 0px;
text-align: center;
}
.down_arrow{ position: absolute;
right: 15px;
bottom: 0;
font-size: 25px;
width: 30px;
height: 17px;
line-height: 17px;
padding: 0px;
text-align: center;}

.vote_txtbox{ padding-right: 30px; }

.status_row label{ margin-top: 6px; }

.mt20{ margin-top: 20px; }
.leave_comment{ display: none; }
/*Create Details Css*/
.comlev2 {
    margin-left: 30px;
}
.comlev3 {
    margin-left: 50px;
}
.comlev4 {
    margin-left: 80px;
}
.comlev5 {
    margin-left: 120px;
}